### Mini-Project 1: Body temperature anomaly detector
You're part of the medical team monitoring astronauts aboard a long-duration space station mission. Each astronaut logs their body temperature daily. Your job is to:
- Detect early signs of fever
- Flag readings above 37.8°C
- Provide a summary for affected astronauts

In [1]:
import pandas as pd

In [2]:
body_temp = pd.read_csv("./temp_log.csv")
print(body_temp)

         date   crew_member  temp_c
0  2025-03-20  Alice Carter    36.6
1  2025-03-20    Ben O'Hara    38.1
2  2025-03-20  Jonas Müller    37.5
3  2025-03-21  Alice Carter    36.8
4  2025-03-21    Ben O'Hara    38.3
5  2025-03-21  Jonas Müller    38.0
6  2025-03-22  Alice Carter    37.9
7  2025-03-22    Ben O'Hara    36.4
8  2025-03-22  Jonas Müller    37.0

In [3]:
def fever_alert():
    filter = body_temp[(body_temp["temp_c"] > 37.8)]
    return(filter)
    
fever = fever_alert()

print("ALERT - Possible fever detected in:")
for index, row in fever.iterrows():  # df.iterrows() allows looping a pandas dataframe row by row and pulling out different values a/w each row
    print(f"{row['crew_member']} - {row['temp_c']}°C on {row['date']}")

ALERT - Possible fever detected in:
Ben O'Hara - 38.1°C on 2025-03-20
Ben O'Hara - 38.3°C on 2025-03-21
Jonas Müller - 38.0°C on 2025-03-21
Alice Carter - 37.9°C on 2025-03-22

In [4]:
fever_count = {}
for crew in fever['crew_member']:
    if crew not in fever_count:
        fever_count[crew] = 1
    else:
        fever_count[crew] += 1

print("Fever Alert Summary:")
for name, value in fever_count.items():
    event_label = "event" if value <= 1 else "events"
    print(f"{name}, {value} {event_label}")

Fever Alert Summary:
Ben O'Hara, 2 events
Jonas Müller, 1 event
Alice Carter, 1 event

In [5]:
# condensed function

def fever_alert():
    file = input('Enter file location:')
    body_temp = pd.read_csv(file)
    filter = body_temp[(body_temp["temp_c"] > 37.8)]
    fever = filter
    print("\nALERT - Possible fever detected in:")
    for index, row in fever.iterrows():  
        print(f"{row['crew_member']} - {row['temp_c']}°C on {row['date']}")
    fever_count = {}
    for crew in fever['crew_member']:
        if crew not in fever_count:
            fever_count[crew] = 1
        else:
            fever_count[crew] += 1
    print("\nFever Alert Summary:")
    for name, value in fever_count.items():
        event_label = "event" if value <= 1 else "events"
        print(f"{name}, {value} {event_label}")

fever_alert()

Enter file location: ./temp_log.csv

ALERT - Possible fever detected in:
Ben O'Hara - 38.1°C on 2025-03-20
Ben O'Hara - 38.3°C on 2025-03-21
Jonas Müller - 38.0°C on 2025-03-21
Alice Carter - 37.9°C on 2025-03-22

Fever Alert Summary:
Ben O'Hara, 2 events
Jonas Müller, 1 event
Alice Carter, 1 event

### Mini-Project 2: Circadian Rhythm Shift Tracker
“How do we monitor and quantify the impact of time zone shifts on astronaut sleep?”

You’re analyzing astronaut sleep logs from a Mars mission where each day (a Sol) is ~24.6 hours.
Over time, sleep and wake cycles drift if not corrected. You’re tasked with:
- Tracking each crew member’s sleep start times
- Detecting circadian drift — sleep times getting later each day
- Flagging when a drift exceeds 2 hours over the mission period

In [3]:
import pandas as pd

In [4]:
sleep_time = pd.read_csv('./sleep_time_log.csv')

In [5]:
crew_sleep_time = sleep_time.sort_values(by=['crew_member','date'])

In [6]:
## Tracking each crew member’s sleep start times
print("Crew Member Sleep Start Times")
for index, row in crew_sleep_time.iterrows():
    print(f"{row['crew_member']}: {row['sleep_start']} on {row['date']}")

Crew Member Sleep Start Times
Alice Carter: 21:50 on 2025-03-20
Alice Carter: 22:09 on 2025-03-21
Alice Carter: 22:22 on 2025-03-22
Alice Carter: 22:23 on 2025-03-23
Alice Carter: 22:39 on 2025-03-24
Alice Carter: 22:38 on 2025-03-25
Alice Carter: 22:47 on 2025-03-26
Alice Carter: 23:05 on 2025-03-27
Alice Carter: 23:11 on 2025-03-28
Alice Carter: 23:10 on 2025-03-29
Alice Carter: 23:21 on 2025-03-30
Alice Carter: 23:45 on 2025-03-31
Alice Carter: 23:42 on 2025-04-01
Alice Carter: 23:54 on 2025-04-02
Ben O'Hara: 22:01 on 2025-03-20
Ben O'Hara: 22:02 on 2025-03-21
Ben O'Hara: 22:17 on 2025-03-22
Ben O'Hara: 22:37 on 2025-03-23
Ben O'Hara: 22:30 on 2025-03-24
Ben O'Hara: 22:51 on 2025-03-25
Ben O'Hara: 22:56 on 2025-03-26
Ben O'Hara: 23:13 on 2025-03-27
Ben O'Hara: 23:22 on 2025-03-28
Ben O'Hara: 23:19 on 2025-03-29
Ben O'Hara: 23:38 on 2025-03-30
Ben O'Hara: 23:41 on 2025-03-31
Ben O'Hara: 23:41 on 2025-04-01
Ben O'Hara: 23:59 on 2025-04-02
Jonas Müller: 22:06 on 2025-03-20
Jonas Müller: 22:08 on 2025-03-21
Jonas Müller: 22:23 on 2025-03-22
Jonas Müller: 22:36 on 2025-03-23
Jonas Müller: 22:43 on 2025-03-24
Jonas Müller: 22:46 on 2025-03-25
Jonas Müller: 22:49 on 2025-03-26
Jonas Müller: 22:59 on 2025-03-27
Jonas Müller: 23:15 on 2025-03-28
Jonas Müller: 23:27 on 2025-03-29
Jonas Müller: 23:35 on 2025-03-30
Jonas Müller: 23:37 on 2025-03-31
Jonas Müller: 23:50 on 2025-04-01
Jonas Müller: 00:04 on 2025-04-02

In [7]:
from datetime import datetime

In [8]:
decimal_hours = []
for t in crew_sleep_time['sleep_start']:
    time_obj = datetime.strptime(t, "%H:%M").time()
    hours = time_obj.hour
    minutes = time_obj.minute
    decimal = hours + minutes / 60
    decimal_hours.append(decimal)

crew_sleep_time['decimal_hours'] = decimal_hours

In [9]:
crew_sleep_time.head()

          date   crew_member sleep_start  decimal_hours
0   2025-03-20  Alice Carter       21:50      21.833333
3   2025-03-21  Alice Carter       22:09      22.150000
6   2025-03-22  Alice Carter       22:22      22.366667
9   2025-03-23  Alice Carter       22:23      22.383333
12  2025-03-24  Alice Carter       22:39      22.650000

In [10]:
def crew(name):
    filter_crew = crew_sleep_time[(crew_sleep_time['crew_member'] == name)]
    for index, row in filter_crew.iterrows():
        initial = filter_crew[filter_crew['date']=='2025-03-20']
        baseline = initial['decimal_hours'].values[0]
        current_sleep = row['decimal_hours']
        if current_sleep > baseline + 2:
            print(f"{row['crew_member']}: CIRCADIAN DRIFT ALERT on {row['date']}")
        else:
            print(f"{row['crew_member']}: No circadian drift on {row['date']}")

In [11]:
crew_names = crew_sleep_time['crew_member'].unique()

In [12]:
for name in crew_names:
    print(f"\n--- Checking for {name} ---")
    crew(name)

--- Checking for Alice Carter ---
Alice Carter: No circadian drift on 2025-03-20
Alice Carter: No circadian drift on 2025-03-21
Alice Carter: No circadian drift on 2025-03-22
Alice Carter: No circadian drift on 2025-03-23
Alice Carter: No circadian drift on 2025-03-24
Alice Carter: No circadian drift on 2025-03-25
Alice Carter: No circadian drift on 2025-03-26
Alice Carter: No circadian drift on 2025-03-27
Alice Carter: No circadian drift on 2025-03-28
Alice Carter: No circadian drift on 2025-03-29
Alice Carter: No circadian drift on 2025-03-30
Alice Carter: No circadian drift on 2025-03-31
Alice Carter: No circadian drift on 2025-04-01
Alice Carter: CIRCADIAN DRIFT ALERT on 2025-04-02

--- Checking for Ben O'Hara ---
Ben O'Hara: No circadian drift on 2025-03-20
Ben O'Hara: No circadian drift on 2025-03-21
Ben O'Hara: No circadian drift on 2025-03-22
Ben O'Hara: No circadian drift on 2025-03-23
Ben O'Hara: No circadian drift on 2025-03-24
Ben O'Hara: No circadian drift on 2025-03-25
Ben O'Hara: No circadian drift on 2025-03-26
Ben O'Hara: No circadian drift on 2025-03-27
Ben O'Hara: No circadian drift on 2025-03-28
Ben O'Hara: No circadian drift on 2025-03-29
Ben O'Hara: No circadian drift on 2025-03-30
Ben O'Hara: No circadian drift on 2025-03-31
Ben O'Hara: No circadian drift on 2025-04-01
Ben O'Hara: No circadian drift on 2025-04-02

--- Checking for Jonas Müller ---
Jonas Müller: No circadian drift on 2025-03-20
Jonas Müller: No circadian drift on 2025-03-21
Jonas Müller: No circadian drift on 2025-03-22
Jonas Müller: No circadian drift on 2025-03-23
Jonas Müller: No circadian drift on 2025-03-24
Jonas Müller: No circadian drift on 2025-03-25
Jonas Müller: No circadian drift on 2025-03-26
Jonas Müller: No circadian drift on 2025-03-27
Jonas Müller: No circadian drift on 2025-03-28
Jonas Müller: No circadian drift on 2025-03-29
Jonas Müller: No circadian drift on 2025-03-30
Jonas Müller: No circadian drift on 2025-03-31
Jonas Müller: No circadian drift on 2025-04-01
Jonas Müller: No circadian drift on 2025-04-02

--THE END--

### Mini-Project 3: CO₂ Exposure & Cognitive Risk Tracker
You're monitoring daily CO₂ levels for astronauts aboard a spacecraft.
High CO₂ concentrations can impair cognition, attention, and decision-making — especially in enclosed environments like ISS or Mars transit vehicles. Your tasks:
- Read daily CO₂ exposure data per crew member
- Flag any day where **CO₂ > 1000 ppm (mild risk)**, and especially **> 2500 ppm (performance risk)**
- Count & summarize how many risky days each crew member had
- Plot CO₂ trends or cumulative exposure

In [29]:
co2_log = pd.read_csv('./co2_log.csv')

In [30]:
co2_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         42 non-null     object
 1   crew_member  42 non-null     object
 2   co2_ppm      42 non-null     int64
dtypes: int64(1), object(2)
memory usage: 1.1+ KB

In [33]:
co2_log.head()

         date   crew_member  co2_ppm
0  2025-03-20  Alice Carter     1035
1  2025-03-20    Ben O'Hara     1200
2  2025-03-20  Jonas Müller     3082
3  2025-03-21  Alice Carter     3086
4  2025-03-21    Ben O'Hara     1297

In [35]:
co2_log_crew = co2_log.sort_values(by=['crew_member', 'date'])

In [37]:
co2_log_crew.head()

          date   crew_member  co2_ppm
0   2025-03-20  Alice Carter     1035
3   2025-03-21  Alice Carter     3086
6   2025-03-22  Alice Carter     2630
9   2025-03-23  Alice Carter     1269
12  2025-03-24  Alice Carter      988

In [75]:
status = []
for index, row in co2_log_crew.iterrows():
    co2 = row['co2_ppm']
    if co2 > 2500:
        co2_status= 'Performance issue' 
    elif co2 >1000: 
        co2_status='Mild risk' 
    else:
        co2_status= 'OK'
    status.append(co2_status)

In [76]:
co2_log_crew['status'] = status
co2_log_crew.head()

          date   crew_member  co2_ppm             status
0   2025-03-20  Alice Carter     1035          Mild risk
3   2025-03-21  Alice Carter     3086  Performance issue
6   2025-03-22  Alice Carter     2630  Performance issue
9   2025-03-23  Alice Carter     1269          Mild risk
12  2025-03-24  Alice Carter      988                 OK

In [65]:
for index, row in co2_log_crew.iterrows():
    if row['status'] == 'Performance issue' or row['status'] == 'Mild risk':
        print(f"{row['crew_member']}: {row['status']} on {row['date']} | CO2 level: {row['co2_ppm']}")

Alice Carter: Performance issue on 2025-03-21 | CO2 level: 3086
Alice Carter: Performance issue on 2025-03-22 | CO2 level: 2630
Alice Carter: Performance issue on 2025-03-27 | CO2 level: 3041
Ben O'Hara: Performance issue on 2025-03-29 | CO2 level: 3012
Ben O'Hara: Performance issue on 2025-03-30 | CO2 level: 2530
Ben O'Hara: Performance issue on 2025-04-02 | CO2 level: 2536
Jonas Müller: Performance issue on 2025-03-20 | CO2 level: 3082
Jonas Müller: Performance issue on 2025-03-23 | CO2 level: 2620
Jonas Müller: Performance issue on 2025-03-27 | CO2 level: 2902
Jonas Müller: Performance issue on 2025-03-28 | CO2 level: 2654
Jonas Müller: Performance issue on 2025-04-02 | CO2 level: 2624

In [80]:
results = []

for index, row in co2_log_crew.iterrows():
    if row['status'] == 'Performance issue' or row['status'] == 'Mild risk':
        results.append({
            'crew_member': row['crew_member'],
            'date': row['date'],
            'status': row['status'],
            'co2_ppm': row['co2_ppm']
        })

# Convert to dataFrame
co2_alert = pd.DataFrame(results)

In [81]:
co2_alert

     crew_member        date             status  co2_ppm
0   Alice Carter  2025-03-20          Mild risk     1035
1   Alice Carter  2025-03-21  Performance issue     3086
2   Alice Carter  2025-03-22  Performance issue     2630
3   Alice Carter  2025-03-23          Mild risk     1269
4   Alice Carter  2025-03-25          Mild risk     1837
5   Alice Carter  2025-03-27  Performance issue     3041
6   Alice Carter  2025-03-30          Mild risk     1360
7   Alice Carter  2025-03-31          Mild risk     1731
8   Alice Carter  2025-04-01          Mild risk     1813
9   Alice Carter  2025-04-02          Mild risk     1759
10    Ben O'Hara  2025-03-20          Mild risk     1200
11    Ben O'Hara  2025-03-21          Mild risk     1297
12    Ben O'Hara  2025-03-22          Mild risk     1323
13    Ben O'Hara  2025-03-24          Mild risk     1239
14    Ben O'Hara  2025-03-26          Mild risk     1360
15    Ben O'Hara  2025-03-27          Mild risk     1114
16    Ben O'Hara  2025-03-28          Mild risk     2100
17    Ben O'Hara  2025-03-29  Performance issue     3012
18    Ben O'Hara  2025-03-30  Performance issue     2530
19    Ben O'Hara  2025-03-31          Mild risk     1526
20    Ben O'Hara  2025-04-01          Mild risk     2279
21    Ben O'Hara  2025-04-02  Performance issue     2536
22  Jonas Müller  2025-03-20  Performance issue     3082
23  Jonas Müller  2025-03-22          Mild risk     1801
24  Jonas Müller  2025-03-23  Performance issue     2620
25  Jonas Müller  2025-03-24          Mild risk     2160
26  Jonas Müller  2025-03-25          Mild risk     1615
27  Jonas Müller  2025-03-27  Performance issue     2902
28  Jonas Müller  2025-03-28  Performance issue     2654
29  Jonas Müller  2025-03-29          Mild risk     1069
30  Jonas Müller  2025-03-30          Mild risk     1876
31  Jonas Müller  2025-03-31          Mild risk     1571
32  Jonas Müller  2025-04-01          Mild risk     1807
33  Jonas Müller  2025-04-02  Performance issue     2624

In [ ]:
co2_alert.sum;