### 1. Variables & Data Types
**Goal**: Refresh assignment, strings, numbers, booleans

Create a variable for an astronaut's:

- Name (string)
- Age (integer)
- Heart rate (float)
- IsFitForEVA (boolean)
- Calculate the age the astronaut will be at the end of a 540-day Mars mission.

In [1]:
def astronaut():
    name = input("Enter the name of astronaut: ")
    age = int(input("Enter the age of astronaut (years): "))
    hr = float(input("Enter resting heart rate (bpm): "))
    fit = input("Fit for EVA? (y/n):")
    if fit == "y":
        print(f"{name} is {age} years old, has a resting heart rate of {hr} bpm, and is fit for EVA.");
    else:
        print(f"{name} is {age} years old, has a resting heart rate of {hr} bpm, and is not fit for EVA.")
    print(f"At the end of a 540-day Mars mission, {name} will be {(age + 540/365.25):.2f} years old.")
astronaut()

Enter the name of astronaut:  Commander Neil Armstrong
Enter the age of astronaut (years):  39
Enter resting heart rate (bpm):  62
Fit for EVA? (y/n): y

Commander Neil Armstrong is 39 years old, has a resting heart rate of 62.0 bpm, and is fit for EVA.
At the end of a 540-day Mars mission, Commander Neil Armstrong will be 40.48 years old.

### 2. Lists and Indexing
**Goal:** Practice indexing, slicing, and modifying lists

- Make a list of crew member names.
- Access the 2nd crew member in the list.
- Change the name of the 3rd crew member.
- Add a new crew member to the list.
- Remove the first crew member.
- Bonus: Reverse the list using slicing.

In [2]:
crew = ["Alan","Barbara","Connie","Dwight","Eugene","Fran","Graham"]

In [3]:
crew[1]

'Barbara'

In [4]:
crew[2] = "Carol"
crew

['Alan', 'Barbara', 'Carol', 'Dwight', 'Eugene', 'Fran', 'Graham']

In [5]:
crew.append("Harold")
crew

['Alan', 'Barbara', 'Carol', 'Dwight', 'Eugene', 'Fran', 'Graham', 'Harold']

In [6]:
crew.pop(0)
crew

['Barbara', 'Carol', 'Dwight', 'Eugene', 'Fran', 'Graham', 'Harold']

In [7]:
crew.reverse()
crew

['Harold', 'Graham', 'Fran', 'Eugene', 'Dwight', 'Carol', 'Barbara']

### 3. Dictionaries
**Goal:** Key-value storage

- Create a dictionary for a single crew member containing: "name", "oxygen_level" (%), "hydration_level" (%), "radiation_dose" (mSv)
- Update their hydration level.
- Add a new key "status" with value "stable".
- Print all keys and values.

In [8]:
crew_member = {"name": "Poppy Hobbs", "oxygen_level": 99, "hydration_level": 75, "radiation_dose": 72}

In [9]:
crew_member

{'name': 'Poppy Hobbs',
 'oxygen_level': 99,
 'hydration_level': 75,
 'radiation_dose': 72}

In [10]:
crew_member.update({"hydration_level": 94})
crew_member

{'name': 'Poppy Hobbs',
 'oxygen_level': 99,
 'hydration_level': 94,
 'radiation_dose': 72}

In [11]:
crew_member.update({"status": "stable"})
crew_member

{'name': 'Poppy Hobbs',
 'oxygen_level': 99,
 'hydration_level': 94,
 'radiation_dose': 72,
 'status': 'stable'}

In [12]:
for key, value in crew_member.items():
    print(f"{key}: {value}")

name: Poppy Hobbs
oxygen_level: 99
hydration_level: 94
radiation_dose: 72
status: stable

### 4. Control Flow (if/else, loops)
**Goal:** Conditional logic and iteration

- Write an if statement to print "Alert" if oxygen level is below 85%.
- Loop through a list of 5 crew radiation doses and print a warning for doses above 50 mSv.
- Calculate the average dose per crew member

In [13]:
crew_radiation = {"Alice Carter": 42, "Ben O'Hara": 51, "Celeste Yang": 65, "Daniel Rivera": 33, "Elena Marques":88}

In [14]:
crew_radiation

{'Alice Carter': 42,
 "Ben O'Hara": 51,
 'Celeste Yang': 65,
 'Daniel Rivera': 33,
 'Elena Marques': 88}

In [15]:
for key, value in crew_radiation.items():
    if value > 50:
        print(f"ALERT! Crew member {key}: radiation level {value} mSv")

ALERT! Crew member Ben O'Hara: radiation level 51 mSv
ALERT! Crew member Celeste Yang: radiation level 65 mSv
ALERT! Crew member Elena Marques: radiation level 88 mSv

In [16]:
avg_dose = sum(crew_radiation.values())/len(crew_radiation)

print(f"\nAverage crew radiation dose: {avg_dose:.2f} mSv")

Average crew radiation dose: 55.80 mSv

### 5. Functions
**Goal:** Encapsulate logic and reuse

- Write a function bmi(weight_kg, height_m) that returns BMI.
- Write a function check_co2_level(ppm) that returns "safe" if CO₂ < 1000 ppm, else "danger".

In [17]:
def bmi():
    weight = float(input("Enter weight (kg):"))
    height = float(input("Enter height (m):"))
    bmi_value = weight/height**2
    return bmi_value

check_bmi = bmi()
print(f"BMI = {check_bmi:.2f}")

Enter weight (kg): 57
Enter height (m): 1.58

BMI = 22.83

In [18]:
def check_co2():
    co2 = float(input("Enter CO2 level (ppm):"))
    if co2 < 1000:
        return "SAFE"
    else:
        return "DANGER"

status = check_co2()
print(f"CO2 level: {status}")

Enter CO2 level (ppm): 697

CO2 level: SAFE

#### Note: Best practices:

**Use print() when:**
- done with the value and just want to show it
- debugging or giving user feedback

**Use return when:**
- need to save, reuse, or test the result
- function is part of a bigger system (like a simulation or model)
- writing modular, reusable, or testable code

### 6. File Reading (Text or CSV)
**Goal:** Read data from file

- Simulate opening a CSV file of sleep hours per day.
- Read it line by line and print each line.
- Count how many days the astronaut slept less than 6 hours.

using .txt file

In [19]:
import pandas as pd

In [20]:
crew_sleep_log = pd.read_csv("./crew_sleep_log.csv")
crew_sleep_log

        date   crew_member  sleep_hours
0  20/3/2025  Alice Carter          6.5
1  20/3/2025    Ben O'Hara          5.0
2  20/3/2025  Celeste Yang          7.2
3  21/3/2025  Alice Carter          5.8
4  21/3/2025    Ben O'Hara          6.1
5  21/3/2025  Celeste Yang          5.5
6  22/3/2025  Alice Carter          7.0
7  22/3/2025    Ben O'Hara          4.9
8  22/3/2025  Celeste Yang          6.3

In [21]:
# filter data by sleep entries < 6 hours
filtered = crew_sleep_log[(crew_sleep_log["sleep_hours"] < 6)]
filtered

        date   crew_member  sleep_hours
1  20/3/2025    Ben O'Hara          5.0
3  21/3/2025  Alice Carter          5.8
5  21/3/2025  Celeste Yang          5.5
7  22/3/2025    Ben O'Hara          4.9

In [22]:
# create a dictionary to hold count of low sleep entries per crew member
count = {}

for crew in filtered["crew_member"]:
    if crew not in count:
        count[crew] = 1
    else:
        count[crew] +=1
        
print(f"Number of sleep entries < 6 hours per crew member:")
for name, freq in count.items():
    print(f"{name} : {freq}")

Number of sleep entries < 6 hours per crew member:
Ben O'Hara : 2
Alice Carter : 1
Celeste Yang : 1

### Optional Bonus: List Comprehensions
**Goal:** Cleaner looping

- Given a list of body temperatures (°C), create a new list of values in °F.
- Create a list of names from a crew list that start with "J".

In [23]:
temp_celcius = [36.6, 28.6, 19.2, 6.2, 21.5, 32]

temp_fahr = [round(temp * 9/5 + 32,2) for temp in temp_celcius]

temp_fahr

[97.88, 83.48, 66.56, 43.16, 70.7, 89.6]

In [24]:
crew_members = [
    "James Carter", "Olivia Wang", "Jason Lee", "Maya Patel", "Jordan Kim",
    "Liam Scott", "Sophia Blake", "Jasmine Flores", "Ethan Zhao", "Isabella Torres",
    "Jacob Grant", "Emily Tan", "Jackie Liu", "Noah Becker", "Julia Nguyen",
    "Emma Brown", "Jonas Müller", "Chloe Adams", "Jayden Smith", "Amelia Fox",
    "Logan Reyes", "Jessica Park", "Sebastian Chu", "Jared Lin", "Natalie Brooks",
    "Josephine Hart", "Benjamin Wu", "Jennifer Ma", "John Davis", "Charlotte Moon"
]

In [25]:
j_crew = []

for x in crew_members:
    if x.startswith('J'):
        j_crew.append(x)
j_crew

['James Carter',
 'Jason Lee',
 'Jordan Kim',
 'Jasmine Flores',
 'Jacob Grant',
 'Jackie Liu',
 'Julia Nguyen',
 'Jonas Müller',
 'Jayden Smith',
 'Jessica Park',
 'Jared Lin',
 'Josephine Hart',
 'Jennifer Ma',
 'John Davis']

In [28]:
# even cleaner:
j_crew_2 = [x for x in crew_members if x.startswith('J')]
j_crew_2

['James Carter',
 'Jason Lee',
 'Jordan Kim',
 'Jasmine Flores',
 'Jacob Grant',
 'Jackie Liu',
 'Julia Nguyen',
 'Jonas Müller',
 'Jayden Smith',
 'Jessica Park',
 'Jared Lin',
 'Josephine Hart',
 'Jennifer Ma',
 'John Davis']

--THE END--