### Mini-Project 3: CO₂ Exposure & Cognitive Risk Tracker
You're monitoring daily CO₂ levels for astronauts aboard a spacecraft.
High CO₂ concentrations can impair cognition, attention, and decision-making — especially in enclosed environments like ISS or Mars transit vehicles. Your tasks:
- Read daily CO₂ exposure data per crew member
- Flag any day where **CO₂ > 1000 ppm (mild risk)**, and especially **> 2500 ppm (performance risk)**
- Count & summarize how many risky days each crew member had
- Plot CO₂ trends or cumulative exposure

In [29]:
co2_log = pd.read_csv('./data/co2_log.csv')

In [30]:
co2_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         42 non-null     object
 1   crew_member  42 non-null     object
 2   co2_ppm      42 non-null     int64
dtypes: int64(1), object(2)
memory usage: 1.1+ KB

In [33]:
co2_log.head()

         date   crew_member  co2_ppm
0  2025-03-20  Alice Carter     1035
1  2025-03-20    Ben O'Hara     1200
2  2025-03-20  Jonas Müller     3082
3  2025-03-21  Alice Carter     3086
4  2025-03-21    Ben O'Hara     1297

In [35]:
co2_log_crew = co2_log.sort_values(by=['crew_member', 'date'])

In [37]:
co2_log_crew.head()

          date   crew_member  co2_ppm
0   2025-03-20  Alice Carter     1035
3   2025-03-21  Alice Carter     3086
6   2025-03-22  Alice Carter     2630
9   2025-03-23  Alice Carter     1269
12  2025-03-24  Alice Carter      988

In [75]:
status = []
for index, row in co2_log_crew.iterrows():
    co2 = row['co2_ppm']
    if co2 > 2500:
        co2_status= 'Performance issue' 
    elif co2 >1000: 
        co2_status='Mild risk' 
    else:
        co2_status= 'OK'
    status.append(co2_status)

In [76]:
co2_log_crew['status'] = status
co2_log_crew.head()

          date   crew_member  co2_ppm             status
0   2025-03-20  Alice Carter     1035          Mild risk
3   2025-03-21  Alice Carter     3086  Performance issue
6   2025-03-22  Alice Carter     2630  Performance issue
9   2025-03-23  Alice Carter     1269          Mild risk
12  2025-03-24  Alice Carter      988                 OK

In [65]:
for index, row in co2_log_crew.iterrows():
    if row['status'] == 'Performance issue' or row['status'] == 'Mild risk':
        print(f"{row['crew_member']}: {row['status']} on {row['date']} | CO2 level: {row['co2_ppm']}")

Alice Carter: Performance issue on 2025-03-21 | CO2 level: 3086
Alice Carter: Performance issue on 2025-03-22 | CO2 level: 2630
Alice Carter: Performance issue on 2025-03-27 | CO2 level: 3041
Ben O'Hara: Performance issue on 2025-03-29 | CO2 level: 3012
Ben O'Hara: Performance issue on 2025-03-30 | CO2 level: 2530
Ben O'Hara: Performance issue on 2025-04-02 | CO2 level: 2536
Jonas Müller: Performance issue on 2025-03-20 | CO2 level: 3082
Jonas Müller: Performance issue on 2025-03-23 | CO2 level: 2620
Jonas Müller: Performance issue on 2025-03-27 | CO2 level: 2902
Jonas Müller: Performance issue on 2025-03-28 | CO2 level: 2654
Jonas Müller: Performance issue on 2025-04-02 | CO2 level: 2624

In [80]:
results = []

for index, row in co2_log_crew.iterrows():
    if row['status'] == 'Performance issue' or row['status'] == 'Mild risk':
        results.append({
            'crew_member': row['crew_member'],
            'date': row['date'],
            'status': row['status'],
            'co2_ppm': row['co2_ppm']
        })

# Convert to dataFrame
co2_alert = pd.DataFrame(results)

In [81]:
co2_alert

     crew_member        date             status  co2_ppm
0   Alice Carter  2025-03-20          Mild risk     1035
1   Alice Carter  2025-03-21  Performance issue     3086
2   Alice Carter  2025-03-22  Performance issue     2630
3   Alice Carter  2025-03-23          Mild risk     1269
4   Alice Carter  2025-03-25          Mild risk     1837
5   Alice Carter  2025-03-27  Performance issue     3041
6   Alice Carter  2025-03-30          Mild risk     1360
7   Alice Carter  2025-03-31          Mild risk     1731
8   Alice Carter  2025-04-01          Mild risk     1813
9   Alice Carter  2025-04-02          Mild risk     1759
10    Ben O'Hara  2025-03-20          Mild risk     1200
11    Ben O'Hara  2025-03-21          Mild risk     1297
12    Ben O'Hara  2025-03-22          Mild risk     1323
13    Ben O'Hara  2025-03-24          Mild risk     1239
14    Ben O'Hara  2025-03-26          Mild risk     1360
15    Ben O'Hara  2025-03-27          Mild risk     1114
16    Ben O'Hara  2025-03-28          Mild risk     2100
17    Ben O'Hara  2025-03-29  Performance issue     3012
18    Ben O'Hara  2025-03-30  Performance issue     2530
19    Ben O'Hara  2025-03-31          Mild risk     1526
20    Ben O'Hara  2025-04-01          Mild risk     2279
21    Ben O'Hara  2025-04-02  Performance issue     2536
22  Jonas Müller  2025-03-20  Performance issue     3082
23  Jonas Müller  2025-03-22          Mild risk     1801
24  Jonas Müller  2025-03-23  Performance issue     2620
25  Jonas Müller  2025-03-24          Mild risk     2160
26  Jonas Müller  2025-03-25          Mild risk     1615
27  Jonas Müller  2025-03-27  Performance issue     2902
28  Jonas Müller  2025-03-28  Performance issue     2654
29  Jonas Müller  2025-03-29          Mild risk     1069
30  Jonas Müller  2025-03-30          Mild risk     1876
31  Jonas Müller  2025-03-31          Mild risk     1571
32  Jonas Müller  2025-04-01          Mild risk     1807
33  Jonas Müller  2025-04-02  Performance issue     2624

In [ ]:
co2_alert.sum;