### Project 2: Circadian rhythm shift tracker
How do we monitor and quantify the impact of time zone shifts on astronaut sleep?

You’re analyzing astronaut sleep logs from a Mars mission where each day (a Sol) is ~24.6 hours.
Over time, sleep and wake cycles drift if not corrected. You’re tasked with:
- Tracking each crew member’s sleep start times
- Detecting circadian drift — sleep times getting later each day
- Flagging when a drift exceeds 2 hours over the mission period

In [1]:
import pandas as pd

In [2]:
sleep_time = pd.read_csv('./data/sleep_time_log.csv')

In [3]:
crew_sleep_time = sleep_time.sort_values(by=['crew_member','date'])

In [4]:
## Tracking each crew member’s sleep start times
print("Crew Member Sleep Start Times")
for index, row in crew_sleep_time.iterrows():
    print(f"{row['crew_member']}: {row['sleep_start']} on {row['date']}")

Crew Member Sleep Start Times
Alice Carter: 21:50 on 2025-03-20
Alice Carter: 22:09 on 2025-03-21
Alice Carter: 22:22 on 2025-03-22
Alice Carter: 22:23 on 2025-03-23
Alice Carter: 22:39 on 2025-03-24
Alice Carter: 22:38 on 2025-03-25
Alice Carter: 22:47 on 2025-03-26
Alice Carter: 23:05 on 2025-03-27
Alice Carter: 23:11 on 2025-03-28
Alice Carter: 23:10 on 2025-03-29
Alice Carter: 23:21 on 2025-03-30
Alice Carter: 23:45 on 2025-03-31
Alice Carter: 23:42 on 2025-04-01
Alice Carter: 23:54 on 2025-04-02
Ben O'Hara: 22:01 on 2025-03-20
Ben O'Hara: 22:02 on 2025-03-21
Ben O'Hara: 22:17 on 2025-03-22
Ben O'Hara: 22:37 on 2025-03-23
Ben O'Hara: 22:30 on 2025-03-24
Ben O'Hara: 22:51 on 2025-03-25
Ben O'Hara: 22:56 on 2025-03-26
Ben O'Hara: 23:13 on 2025-03-27
Ben O'Hara: 23:22 on 2025-03-28
Ben O'Hara: 23:19 on 2025-03-29
Ben O'Hara: 23:38 on 2025-03-30
Ben O'Hara: 23:41 on 2025-03-31
Ben O'Hara: 23:41 on 2025-04-01
Ben O'Hara: 23:59 on 2025-04-02
Jonas Müller: 22:06 on 2025-03-20
Jonas Müller: 22:08 on 2025-03-21
Jonas Müller: 22:23 on 2025-03-22
Jonas Müller: 22:36 on 2025-03-23
Jonas Müller: 22:43 on 2025-03-24
Jonas Müller: 22:46 on 2025-03-25
Jonas Müller: 22:49 on 2025-03-26
Jonas Müller: 22:59 on 2025-03-27
Jonas Müller: 23:15 on 2025-03-28
Jonas Müller: 23:27 on 2025-03-29
Jonas Müller: 23:35 on 2025-03-30
Jonas Müller: 23:37 on 2025-03-31
Jonas Müller: 23:50 on 2025-04-01
Jonas Müller: 00:04 on 2025-04-02

In [5]:
from datetime import datetime

In [6]:
decimal_hours = []
for t in crew_sleep_time['sleep_start']:
    time_obj = datetime.strptime(t, "%H:%M").time()
    hours = time_obj.hour
    minutes = time_obj.minute
    decimal = hours + minutes / 60
    decimal_hours.append(decimal)

crew_sleep_time['decimal_hours'] = decimal_hours

In [7]:
crew_sleep_time.head()

          date   crew_member sleep_start  decimal_hours
0   2025-03-20  Alice Carter       21:50      21.833333
3   2025-03-21  Alice Carter       22:09      22.150000
6   2025-03-22  Alice Carter       22:22      22.366667
9   2025-03-23  Alice Carter       22:23      22.383333
12  2025-03-24  Alice Carter       22:39      22.650000

In [8]:
def crew(name):
    filter_crew = crew_sleep_time[(crew_sleep_time['crew_member'] == name)]
    for index, row in filter_crew.iterrows():
        initial = filter_crew[filter_crew['date']=='2025-03-20']
        baseline = initial['decimal_hours'].values[0]
        current_sleep = row['decimal_hours']
        if current_sleep > baseline + 2:
            print(f"{row['crew_member']}: CIRCADIAN DRIFT ALERT on {row['date']}")
        else:
            print(f"{row['crew_member']}: No circadian drift on {row['date']}")

In [9]:
crew_names = crew_sleep_time['crew_member'].unique()

In [10]:
for name in crew_names:
    print(f"\n--- Checking for {name} ---")
    crew(name)

--- Checking for Alice Carter ---
Alice Carter: No circadian drift on 2025-03-20
Alice Carter: No circadian drift on 2025-03-21
Alice Carter: No circadian drift on 2025-03-22
Alice Carter: No circadian drift on 2025-03-23
Alice Carter: No circadian drift on 2025-03-24
Alice Carter: No circadian drift on 2025-03-25
Alice Carter: No circadian drift on 2025-03-26
Alice Carter: No circadian drift on 2025-03-27
Alice Carter: No circadian drift on 2025-03-28
Alice Carter: No circadian drift on 2025-03-29
Alice Carter: No circadian drift on 2025-03-30
Alice Carter: No circadian drift on 2025-03-31
Alice Carter: No circadian drift on 2025-04-01
Alice Carter: CIRCADIAN DRIFT ALERT on 2025-04-02

--- Checking for Ben O'Hara ---
Ben O'Hara: No circadian drift on 2025-03-20
Ben O'Hara: No circadian drift on 2025-03-21
Ben O'Hara: No circadian drift on 2025-03-22
Ben O'Hara: No circadian drift on 2025-03-23
Ben O'Hara: No circadian drift on 2025-03-24
Ben O'Hara: No circadian drift on 2025-03-25
Ben O'Hara: No circadian drift on 2025-03-26
Ben O'Hara: No circadian drift on 2025-03-27
Ben O'Hara: No circadian drift on 2025-03-28
Ben O'Hara: No circadian drift on 2025-03-29
Ben O'Hara: No circadian drift on 2025-03-30
Ben O'Hara: No circadian drift on 2025-03-31
Ben O'Hara: No circadian drift on 2025-04-01
Ben O'Hara: No circadian drift on 2025-04-02

--- Checking for Jonas Müller ---
Jonas Müller: No circadian drift on 2025-03-20
Jonas Müller: No circadian drift on 2025-03-21
Jonas Müller: No circadian drift on 2025-03-22
Jonas Müller: No circadian drift on 2025-03-23
Jonas Müller: No circadian drift on 2025-03-24
Jonas Müller: No circadian drift on 2025-03-25
Jonas Müller: No circadian drift on 2025-03-26
Jonas Müller: No circadian drift on 2025-03-27
Jonas Müller: No circadian drift on 2025-03-28
Jonas Müller: No circadian drift on 2025-03-29
Jonas Müller: No circadian drift on 2025-03-30
Jonas Müller: No circadian drift on 2025-03-31
Jonas Müller: No circadian drift on 2025-04-01
Jonas Müller: No circadian drift on 2025-04-02

--THE END--